body {
  height: auto;
  background: #f7f7f9;
}

.header-background-image {
  height: 718px;
  width: 100%;
  border-radius: 0 0 0 75px;
  background: #fff;
  background-image: url("./asset/images/headershape.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: 25px 30px;
}

.menu {
  display: none;
}

.navbbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 44px;
}

#hamburger {
  display: flex;
  float: right;
  width: auto;
  height: 30px;
  border-radius: 2px;
  margin-right: 2rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #6070ff;
}

.headlinesection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 10px;
  width: auto;
  height: 604px;
  top: 80px;
}

.headlinesectiontitle {
  width: auto;
  height: auto;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  margin-top: 1rem;
}

.headlinesectionbody {
  width: auto;
  height: auto;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #334563;
  flex: none;
  flex-grow: 0;
  margin-top: -25px;
}

.social-section {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  justify-self: stretch;
  flex-grow: 0;
  margin-top: 0;
}

.sociaicons {
  width: auto;
  height: auto;
  padding: 0;
}

.social-connect-section {
  width: auto;
  height: auto;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  padding: 0;
  color: #7f8cff;
  order: 0;
  flex-grow: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-items: stretch;
  height: 20px;
  flex-grow: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icons * {
  justify-items: stretch;
  text-align: justify;
  margin: 0 4px;
}

ul li a {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

.work-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.2fr 0.1fr 1.2fr 0.5fr;
  align-items: center;
  justify-items: center;
  gap: 1px;
  width: auto;
  height: auto;
}

.card-section {
  display: flex;
  flex-direction: column;
  columns: 2;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  flex: 50%;
  order: 0;
  flex-grow: 0;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.card-background-image {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0;
  height: auto;
}

.card-section-background-image {
  display: flex;
  padding: 4px;
  margin: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 50%;
  order: 1;
}

.card-text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 6px;
  width: 90%;
  height: auto;
  flex: 50%;
  order: 2;
}

.card-primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 80%;
  height: auto;
  order: 0;
  flex-grow: 0;
}

.card-primary-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 6px;
  width: 90%;
  height: auto;
  order: 2;
  flex-grow: 0;
}

.primary-title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-primary-text-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 100%;
  height: px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style-type: none;
  margin: 0;
}

.client {
  width: 55px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.span {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
}

.role {
  width: 91px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  width: 29px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-primary-body-text {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 24px;
  color: #344563;
  margin: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-primary-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 215px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ebebff;
  border-radius: 8px;
  width: 53px;
  height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style-type: none;
}

.html {
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.java {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ebebff;
  border-radius: 8px;
  width: 89px;
  height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#action {
  display: flex;
  width: 85%;
  height: 70px;
  align-items: center;
  order: 3;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  position: absolute;
  width: 200px;
  height: 50px;
  border: 1px solid#6070ff;
  border-radius: 8px;
}

.normalbuttn {
  display: flex;
  align-items: flex-start;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  cursor: pointer;
  background-color: #fff;
}

.normalbuttn:hover {
  background: #6070ff;
  color: #fff;
}

.normalbuttn:active {
  background: #2230d2;
  color: #fff;
}

.multipleprytex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multipletext {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
  width: 290px;
  height: 70px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multipleleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 100%;
  height: auto;
  flex: 50%;
  order: 2;
  flex-grow: 0;
}

.about-myself-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 1018px;
  background: #fff;
  border-radius: 0  75px 0 0;
  margin-top: 40px;
}

.abouttop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 6px;
  width: 90%;
  height: auto;
  order: 0;
  margin-top: 90px;
}

.aboutheadertext {
  margin: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: Poppins, sans-serif;
  line-height: 52px;
  color: #172b4d;
  float: none;
  order: 0;
  flex-grow: 0;
}

.aboutbodytext {
  margin: 0;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  order: 2;
  gap: 12px;
  flex-grow: 0;
}

.supportingtext {
  width: 135px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.normalbutnaboutt {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: auto;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  cursor: pointer;
  background-color: #fff;
}

.normalbutnaboutt:hover {
  background: #6070ff;
  color: #fff;
}

.normalbutnaboutt:active {
  background: #2230d2;
  color: #fff;
}

.skillist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 90%;
  height: auto;
  order: 1;
}

.dropdowncontainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: auto;
  order: 0;
  flex-grow: 0;
}

#dropdownheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  order: 0;
  flex-grow: 0;
}

.droptext {
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  color: #000;
}

.dropdownhamburger {
  display: flex;
  padding: 10px;
  margin: 1rem 1rem 1rem 0;
  border-radius: 6px;
  float: right;
}

.fa-angle-down {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  gap: 12px;
  width: 100%;
  order: 1;
  flex-grow: 0;
}

#javadropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 66.72px;
  gap: 1px;
  order: 0;
  background: #f7f7f9;
  border-radius: 8px;
}

.image {
  width: auto;
  height: 48px;
  margin-left: 8px;
  border-radius: 1px solid #fff;
}

.droptxt {
  display: flex;
  align-self: flex-start;
  width: auto;
  height: auto;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  align-items: center;
  color: #253858;
}

hr {
  position: relative;
  height: 1;
  width: 100%;
  margin: 0;
}

.contactblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
  margin-top: 8rem;
}

.contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  height: 49rem;
  border-radius: 75px 0 0;
  text-align: center;
  background: #6070ff;
  background-image: url("./asset/Contact/contactimg.svg");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position-y: 2rem;
  background-position-x: 5.5rem;
}

.contacttxt {
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-style: normal;
  color: #fff;
  order: 0;
}

.contactbodytext {
  margin-top: 0;
  width: 100%;
  height: auto;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin-left: 2rem;
  color: #ebebff;
  order: 1;
}

.body-text {
  justify-content: center;
  align-content: center;
  width: 90%;
  height: auto;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  order: 2;
}

#name {
  border-radius: 8px;
  border: 1px #cfd8dc solid;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 25px;
  width: 70%;
  order: 0;
}

#mail {
  border-radius: 8px;
  border: 1px #cfd8dc solid;
  background-color: #fff;
  padding: 15px 25px;
  width: 70%;
  margin-bottom: 15px;
}

#textarea {
  border-radius: 8px;
  border: 1px #cfd8dc solid;
  background-color: #fff;
  padding: 15px 25px;
  width: 70%;
  margin-bottom: 15px;
  color: #b3bac5;
}

.normalbuttnabout {
  display: flex;
  width: 175px;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  cursor: pointer;
  background-color: #fff;
}

.normalbuttnabout:hover {
  background: #6070ff;
  color: #fff;
}

.normalbuttnabout:active {
  background: #2230d2;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  body {
    width: auto;
    height: auto;
  }

  .header-bg-image {
    height: 748px;
    width: 100%;
    border-radius: 0 0 0 75px;
    background: #fff;
    background-image: url("./img/images/header.svg");
    background-repeat: no-repeat;
    background-size: 93% 90%;
    background-position-x: 5rem;
    background-position-y: 5rem;
  }

  .n-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    list-style-type: none;
  }

  #hamburger {
    display: none;
  }

  .logoplaceholder {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    margin-left: 3rem;
    position: relative;
    left: 0;
  }

  .my-logo {
    display: flex;
    align-items: center;
    margin-left: 12rem;
    align-content: center;
    background: #fff;
  }

  .logo {
    align-items: center;
  }

  ul li {
    list-style-type: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .menu-port {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-abt {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    order: 0;
    flex-grow: 0;
  }

  .menu-cnt {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    position: absolute;
    width: 58%;
    height: auto;
    left: 20rem;
    margin-top: 12rem;
    flex: 50%;
  }

  .headline-sec-title {
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    width: 49%;
    height: auto;
    flex: 45%;
    order: 0;
    color: #091e42;
  }

  .headline-sec-body {
    width: 80%;
    height: auto;
  }

  .icn {
    width: auto;
    height: 20px;
    margin-top: 15px;
  }

  .card-prm-tag {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    gap: 8px;
    height: auto;
    order: 3;
  }

  .work-sec {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1.5fr 0.5fr 1.5fr auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .card-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    flex: 50%;
    background: #fff;
    order: 0;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card-bg-image {
    align-items: flex-start;
    padding: 10px;
    width: 50%;
    height: auto;
    flex: 50%;
  }

  .card-text-sec {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    margin: 10px;
    width: 40%;
    height: auto;
    flex: 50%;
    flex-grow: 0;
  }

  .card-prm-text {
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    height: 40%;
    order: 0;
  }

  .prm-title {
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .card-prm-text-frame {
    display: flex;
    width: 60%;
    height: auto;
  }

  .card-prm-body-text {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-prm-text-right {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
    margin: 10px;
    flex: 50%;
    order: 0;
  }

  .about-myself-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 575px;
    border-radius: 0 90px 0 0;
    background: #fff;
    margin-top: 150px;
  }

  .abt-top {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 36%;
    gap: 10px;
    height: auto;
    padding-left: 6rem;
  }

  .abtheadertxt {
    width: 40%;
    height: auto;
  }

  .abtbodytxt {
    width: 100%;
    height: 50%;
  }

  .socmedia {
    display: flex;
    gap: 1px;
    width: auto;
    height: auto;
  }

  .nrmalbtnabt {
    display: flex;
    width: 175px;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 2px;
    cursor: pointer;
    background-color: #fff;
  }

  .skillist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 6rem;
    width: 50%;
    height: auto;
    margin-top: 5.5rem;
  }

  .droptxt {
    font-size: 24px;
    line-height: 32px;
  }

  .dropcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
    margin: 0;
    width: 100%;
    height: auto;
  }

  #dropheader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    order: 0;
  }

  .drophamburger {
    display: flex;
    padding: 10px;
    margin: 1rem 1rem 1rem 0;
    border-radius: 6px;
    float: right;
  }

  .fa-angle-down {
    display: none;
  }

  .dropdown {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  #javadropdown {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 19%;
    height: 100%;
    background: #f7f7f9;
    border-radius: 8px;
    order: 0;
  }

  .image {
    height: 64px;
    margin-left: 16px;
    border-radius: 50%;
  }

  .droptext {
    font-size: 18px;
    line-height: 24px;
    margin-left: 16px;
    color: #fff;
  }

  hr {
    gap: 0;
    height: 1;
    margin: 0;
  }

  .cntme {
    display: flex;
    width: 100%;
    height: 50rem;
    margin-top: 150px;
    align-items: center;
    background: #6070ff;
    background-image: url("./img/Contact/contactdesk.svg");
    background-repeat: no-repeat;
    background-size: 85% 90%;
    background-position-x: 5rem;
    background-position-y: 4rem;
  }

  .cntblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 170px;
  }

  .cnttext {
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    order: 0;
    margin-bottom: 0;
  }

  .cntbodytext {
    display: flex;
    align-content: center;
    width: 80%;
    height: auto;
    margin-top: 0;
    order: 1;
  }

  .body-text {
    width: 60%;
    margin: 4rem auto 0;
  }

  .form {
    width: 60%;
    margin-top: 4rem;
  }

  #name {
    width: 40%;
    margin-bottom: 30px;
  }

  #mail {
    margin-left: 5%;
    margin-right: 5%;
    order: 2;
  }

  #textarea {
    width: 70%;
  }

  #action {
    display: flex;
    width: 10%;
    height: 60px;
    margin-top: 2px;
    align-items: center;
  }

  .normalbtnabt {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 175px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-style: normal;
    cursor: pointer;
    background-color: #fff;
  }

  .normalbtnabt:hover {
    background: #6070ff;
    color: #fff;
  }

  .normalbtnabt:active {
    background: #2230d2;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: auto;
    height: auto;
    margin: 0;
    background: #f4f5f7;
  }

  .header-background-image {
    height: 748px;
    width: 100%;
    border-radius: 0 0 0 75px;
    background: #fff;
    background-image: url("./asset/images/header.svg");
    background-repeat: no-repeat;
    background-size: 93% 90%;
    background-position-x: 5rem;
    background-position-y: 5rem;
  }

  .navbbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    list-style-type: none;
  }

  #hamburger {
    display: none;
  }

  .logoplaceholder {
    display: flex;
    align-items: center;
    margin-left: 12rem;
    align-content: center;
    background: #fff;
  }

  .logo {
    align-items: center;
  }

  ul li {
    list-style-type: none;
  }

  .menu {
    display: flex;
    align-items: flex-start;
    float: right;
    padding-right: 0;
    gap: 30px;
    width: fit-content;
    height: auto;
    margin-right: 7rem;
  }

  .menuportfolio {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menuabout {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    order: 0;
    flex-grow: 0;
  }

  .menucontact {
    width: fit-content;
    height: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headlinesection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    position: absolute;
    width: 58%;
    height: auto;
    left: 20rem;
    margin-top: 12rem;
    flex: 50%;
  }

  .headlinesectiontitle {
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    width: 49%;
    height: auto;
    flex: 45%;
    order: 0;
    color: #091e42;
  }

  .headlinesectionbody {
    width: 80%;
    height: auto;
  }

  .icons {
    width: auto;
    height: 20px;
    margin-top: 15px;
  }

  .card-primary-tag {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    gap: 8px;
    height: auto;
    order: 3;
  }

  .work-section {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1.5fr 0.5fr 1.5fr auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    flex: 50%;
    background: #fff;
    order: 0;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card-background-image {
    align-items: flex-start;
    padding: 10px;
    width: 50%;
    height: auto;
    flex: 50%;
  }

  .card-text-section {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    margin: 10px;
    width: 40%;
    height: auto;
    flex: 50%;
    flex-grow: 0;
  }

  .card-primary-text {
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    height: 40%;
    order: 0;
  }

  .primary-title {
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .card-primary-text-frame {
    display: flex;
    width: 60%;
    height: auto;
  }

  .card-primary-body-text {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-primary-text-right {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
    margin: 10px;
    flex: 50%;
    order: 0;
  }

  .about-myself-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 575px;
    border-radius: 0 90px 0 0;
    background: #fff;
    margin-top: 150px;
  }

  .abouttop {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 36%;
    gap: 10px;
    height: auto;
    padding-left: 6rem;
  }

  .aboutheadertext {
    width: 40%;
    height: auto;
  }

  .aboutbodytext {
    width: 100%;
    height: 50%;
  }

  .socialmedia {
    display: flex;
    gap: 1px;
    width: auto;
    height: auto;
  }

  .normalbutnaboutt {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 2px;
    cursor: pointer;
    background-color: #fff;
  }

  .skillist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 6rem;
    width: 50%;
    height: auto;
    margin-top: 5.5rem;
  }

  .droptext {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    margin-left: 10px;
  }

  .dropdowncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
    margin: 0;
    width: 100%;
    height: auto;
  }

  #dropdownheader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    order: 0;
  }

  .dropdownhamburger {
    display: flex;
    padding: 10px;
    margin: 1rem 1rem 1rem 0;
    border-radius: 6px;
    float: right;
  }

  .fa-angle-down {
    display: flex;
    align-items: flex-end;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    height: 110px;
  }

  #javadropdown {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 19%;
    height: 100%;
    background: #f7f7f9;
    border-radius: 8px;
    order: 0;
  }

  .image {
    width: auto;
    height: 48px;
    margin-top: 8px;
    border-radius: 1px solid #fff;
  }

  .droptxt {
    display: flex;
    align-self: flex-start;
    width: auto;
    height: auto;
    margin-left: 8.5px;
  }

  hr {
    gap: 0;
    height: 1;
    margin: 0;
  }

  .contactme {
    display: flex;
    width: 100%;
    height: 58rem;
    margin-top: 80px;
    align-items: center;
    background: #6070ff;
    background-image: url("./asset/Contact/contactdesk.svg");
    background-repeat: no-repeat;
    background-size: 85% 80%;
    background-position-x: 5rem;
    background-position-y: 4rem;
  }

  .button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    padding: 8px 16px;
  }

  .contactblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 170px;
  }

  .contacttxt {
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    order: 0;
    margin-bottom: 0;
  }

  .contactbodytext {
    display: flex;
    align-content: center;
    width: 80%;
    height: auto;
    margin-top: 0;
    order: 1;
  }

  .body-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
  }

  .form {
    display: flex;
    width: 65%;
    align-items: center;
    order: 3;
    height: auto;
  }

  #name {
    align-items: center;
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    margin-bottom: 20px;
    width: 90%;
  }

  #mail {
    align-items: center;
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    width: 90%;
  }

  #textarea {
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    width: 90%;
  }

  #action {
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 2px;
    align-items: center;
  }

  .normalbuttnabout {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 175px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-style: normal;
    cursor: pointer;
    background-color: #fff;
  }

  .normalbuttnabout:hover {
    background: #6070ff;
    color: #fff;
  }

  .normalbuttnabout:active {
    background: #2230d2;
    color: #fff;
  }
}
